extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Vitae purus faucibus ornare suspendisse. Porttitor lacus luctus accumsan tortor. Ut pharetra sit amet aliquam. Faucibus purus in massa tempor nec feugiat nisl.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus non enim praesent elementum. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Vitae purus faucibus ornare suspendisse. Porttitor lacus luctus accumsan tortor. Ut pharetra sit amet aliquam. Faucibus purus in massa tempor nec feugiat nisl.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")
        include ./layout/bloque_viajes
    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales

