extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Tempor nec feugiat nisl pretium fusce. Sed viverra tellus in hac habitasse platea dictumst. Nec nam aliquam sem et. Dignissim convallis aenean et tortor at risus viverra adipiscing at. Aenean sed adipiscing diam donec adipiscing. Tortor condimentum lacinia quis vel eros donec. Id faucibus nisl tincidunt eget nullam non nisi est. Integer quis auctor elit sed vulputate mi sit amet mauris. Euismod nisi porta lorem mollis. Aliquam faucibus purus in massa tempor.

                p In hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Tellus molestie nunc non blandit massa. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Facilisis leo vel fringilla est ullamcorper eget nulla facilisi etiam. Adipiscing elit ut aliquam purus. Sodales ut etiam sit amet nisl. Sodales neque sodales ut etiam sit. Cras semper auctor neque vitae tempus quam pellentesque nec. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Vitae suscipit tellus mauris a. Risus nullam eget felis eget nunc lobortis mattis. Purus gravida quis blandit turpis cursus in. Quisque non tellus orci ac auctor augue. Et malesuada fames ac turpis egestas. Est sit amet facilisis magna etiam tempor orci eu lobortis. Maecenas accumsan lacus vel facilisis volutpat est velit egestas. Vitae elementum curabitur vitae nunc sed velit dignissim sodales. Eget mi proin sed libero enim sed faucibus turpis in. Viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Sodales neque sodales ut etiam sit amet nisl.

                p Leo a diam sollicitudin tempor. Eu turpis egestas pretium aenean pharetra magna ac. Nam libero justo laoreet sit amet cursus sit. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Purus sit amet volutpat consequat mauris nunc congue. Ut morbi tincidunt augue interdum velit euismod in pellentesque massa. Vitae tempus quam pellentesque nec nam. Odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus. Laoreet suspendisse interdum consectetur libero id. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Elementum curabitur vitae nunc sed. In ornare quam viverra orci sagittis eu volutpat odio facilisis. Pulvinar pellentesque habitant morbi tristique senectus. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Leo a diam sollicitudin tempor. Eu turpis egestas pretium aenean pharetra magna ac. Nam libero justo laoreet sit amet cursus sit. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Purus sit amet volutpat consequat mauris nunc congue.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destino", class="img-fluid mb-4")
                    h2.mb-4 Destino
                    p Leo a diam sollicitudin tempor. Eu turpis egestas pretium aenean pharetra magna ac. Nam libero justo laoreet sit amet cursus sit. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Purus sit amet volutpat consequat mauris nunc congue.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Leo a diam sollicitudin tempor. Eu turpis egestas pretium aenean pharetra magna ac. Nam libero justo laoreet sit amet cursus sit. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Purus sit amet volutpat consequat mauris nunc congue.